{% extends 'base.html' %}

{% block content %}
</section>
<section class="text-gray-600 body-font overflow-hidden">
  <div class="container px-5 py-24 mx-auto">
    <div class="lg:w-4/5 mx-auto flex flex-wrap">
      <img alt="{{ album.title }}" class="lg:w-1/2 w-full lg:h-auto h-64 object-cover object-center rounded" src="{{ album.picture }}">
      <div class="lg:w-1/2 w-full lg:pl-10 lg:py-6 mt-6 lg:mt-0">
        <h1 class="text-gray-900 text-3xl title-font font-medium mb-1">Artistes</h1>
          {% for artiste in artistes %}
          <h2 class="text-sm title-font text-gray-500 tracking-widest">{{ artiste.name }}</h2>
          {% endfor %}
        <div class="flex mt-6 items-center flex-col pb-5 border-t-2 border-gray-100 mb-5">
            <h1 class="text-gray-900 text-3xl title-font font-medium mb-1">
                Reserver {{ album.title }}
            </h1>
            <p class="text-sm title-font font-medium mb-1">
                Demandez nous de mettre de côté {{ album.title }} et venez le chercher dès demain en magasin
            </p>
        </div>
          <div class="flex mt-6 items-center flex-col pb-5 border-t-2 border-gray-100 mb-5">

          </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}